 @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fuggles&family=Roboto:ital,wght@0,300;0,400;0,700;1,700&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 html {
     font-family: 'Roboto', sans-serif;
     scroll-behavior: smooth;
 }
 
 .header-advert {
     text-align: center;
     padding: 0.4rem;
     background-color: #009688;
     color: #c6c6c6;
 }
 
 .header-content {
     background-color: #009688;
     text-align: center;
     overflow: auto;
     background-color: #fff;
     position: sticky;
     top: 0;
     z-index: 3;
     box-shadow: 0 0 5px #000;
 }
 
 .header-logo h1 {
     float: left;
     padding-left: 15px;
     font-family: 'Fuggles', cursive;
     letter-spacing: 5px;
     font-size: 4rem;
     color: #009688;
     transition: 1s;
 }
 
 .header-links {
     width: 50%;
     margin: auto;
     margin-top: 30px;
 }
 
 .header-links li {
     display: inline-block;
     padding: 0 15px;
     margin-bottom: -100px;
 }
 
 .header-links li a {
     color: #333;
     text-decoration: none;
     font-size: 1.4rem;
     font-family: 'Roboto', sans-serif;
     transition: 1s;
 }
 
 .header-links li a::before {
     content: "";
     width: 0;
     height: 3px;
     position: absolute;
     background-color: #008978;
     bottom: 10px;
     transition: 1s;
 }
 
 .header-links li a:hover::before {
     width: 60px;
     color: blue;
     text-decoration: underline;
 }
 
 #contacts {
     float: right;
     margin-top: -2.4rem;
     margin-bottom: 10px;
     margin-right: 1rem;
     padding: 12px 16px;
     background-color: #009688;
     font-size: 1.4rem;
     color: #fff;
     font-family: 'Roboto', sans-serif;
     text-decoration: none;
     border-radius: 30px;
     border: none;
     transition: 0.2s ease;
 }
 
 #contact:active {
     outline: 3px solid #009688;
     background-color: #019182;
     outline-offset: 2px;
 }
 /* end header */
 
 .main-image {
     width: 100%;
     height: calc(100vh - 126px);
     position: relative;
 }
 
 .main-image img {
     width: 100%;
     height: 100%;
 }
 
 .image-delay {
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: rgba(255, 255, 255, .3);
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }
 
 .main-image-content {
     text-align: center;
     position: absolute;
     width: 100%;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }
 
 .main-image-content h1 {
     font-size: 4rem;
     color: white;
     font-family: 'Roboto', sans-serif;
     line-height: 2;
     transition: 1s;
 }
 
 .main-image-content P {
     font-size: 1.4rem;
     color: #f1f1f1;
     transition: 1s;
 }
 
 .main-image-content button {
     padding: 20px;
     margin: 2rem 0;
     color: #f1f1f1;
     background-color: #009688;
     border: none;
     border-radius: 30px;
     font-size: 1.4rem;
     text-transform: capitalize;
     margin-left: 10px;
     font-family: 'Roboto', sans-serif;
     transition: 0.3s;
 }
 
 .main-image-content button:hover {
     outline: 3px solid #009688;
     background-color: #019182;
     outline-offset: 2px;
 }
 /* search section  */
 
 .search-section {
     background-color: #008978;
 }
 
 .search-content {
     width: 80%;
     margin: auto;
     text-align: center;
     padding: 2rem;
 }
 
 .search-content h2 {
     color: #fff;
     font-size: 3rem;
     font-family: 'Roboto', sans-serif;
     line-height: 2;
     padding: 1rem;
 }
 
 .search-content input {
     width: 70%;
     margin: auto;
     padding: 1.5rem;
     margin-bottom: 2rem;
 }
 /* features section */
 
 .features-section {
     background-color: #f5f5f5;
 }
 
 .features-content {
     width: 80%;
     margin: auto;
     padding: 4rem;
     overflow: auto;
 }
 
 .features-item {
     float: left;
     width: 30%;
     padding: 2rem 2rem 4rem;
     background-color: white;
     border: 1px solid #c6c6c6;
     text-align: center;
     position: relative;
 }
 
 .features-content .two {
     margin: 0 5%;
 }
 
 .features-item h3 {
     font-size: 2rem;
     margin: 1rem 0;
     font-family: 'Roboto', sans-serif;
 }
 
 .features-item p {
     color: #333;
 }
 
 .features-item i {
     font-size: 90px;
     color: rgb(0, 137, 120);
 }
 
 .features-item::after {
     content: " ";
     color: #f1f1f1;
     width: 50%;
     height: 0;
     position: absolute;
     height: 0px;
     top: 0;
     left: 0;
     background-color: rgba(0, 137, 120, .1);
     transition: 1s;
 }
 
 .features-item:hover::after {
     content: " ";
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(6, 100, 89, 0.6);
 }
 /* Popular Places */
 
 .Places-content {
     width: 80%;
     margin: auto;
     overflow: auto;
     padding: 3rem;
 }
 
 .Places-content h1 {
     font-size: 3rem;
     text-align: center;
     padding-bottom: 1.4rem;
 }
 
 .Places-content h1 span {
     font-size: 2.7rem;
     color: #008978;
 }
 
 .places-item {
     border: 1px solid #c6c6c6;
     width: 30%;
     float: left;
     height: 400px;
     text-align: center;
     position: relative;
 }
 
 .places-image img {
     width: 100%;
     height: 230px;
 }
 
 .Places-content .two {
     margin: 0 5%;
 }
 
 .places-info {
     padding: 40px 30px;
 }
 
 .places-info p {
     line-height: 1.5;
 }
 
 .places-delay {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     text-align: center;
     padding-top: 150px;
     color: #fff;
     font-size: 2rem;
     background-color: rgb(0, 137, 120, 0.7);
     transition: 1s;
     opacity: 0;
 }
 
 .places-item:hover .places-delay {
     opacity: 1;
 }
 /* footer */
 
 .footer {
     width: 100%;
     height: 150px;
     background-color: #009688;
     text-align: center;
     margin-top: 40px;
 }
 
 .footer h2 {
     font-size: 1.3rem;
     color: #fff;
     font-weight: 400;
     padding-top: 70px;
 }
 /*  Follow section */
 
 .follow-section {
     background-color: #008978;
 }
 
 .follow-content {
     width: 80%;
     margin: auto;
     text-align: center;
 }
 
 .follow-text {
     padding: 1.9rem;
     color: #fff;
 }
 
 .follow-text h2 {
     font-size: 3rem;
 }
 
 .follow-text p {
     font-size: 14px;
 }
 
 .follow-icon svg {
     margin-left: 1rem;
     color: #fff;
     font-size: 3rem;
     margin-bottom: 1rem;
 }
 /* choose section */
 
 .choose-us-section {
     background-color: #f5f5f5;
 }
 
 .choose-us-content {
     width: 80%;
     margin: auto;
     overflow: auto;
     padding: 3rem;
 }
 
 .service {
     float: left;
     width: 60%;
     position: relative;
 }
 
 .service h2 {
     font-size: 2.2rem;
     padding: 1rem;
 }
 
 .service h2::before {
     content: "";
     background: #008978;
     width: 60px;
     height: 5px;
     position: absolute;
     top: 4rem;
     left: 1rem;
     transition: 1s;
 }
 
 .service h2:hover::before {
     width: 270px;
     height: 5px;
 }
 
 .service p {
     padding: 1rem;
     width: 70%;
     line-height: 1.5;
     font-size: 14px;
     color: #333;
 }
 
 .service ul {
     list-style-type: square;
     padding: 1rem;
 }
 
 .service ul li {
     font-size: 1.4rem;
     color: #333;
     line-height: 3;
 }
 
 .choose-us-content .image {
     float: right;
     position: relative;
 }
 
 .choose-us-content .image img {
     position: relative;
     top: 25px;
     right: 50px;
     z-index: 1;
     border-radius: 30px;
 }
 
 .image::after {
     content: " ";
     width: 100%;
     height: 40vh;
     background-color: #008978;
     position: absolute;
     top: 0;
     right: 0;
     margin-right: -10px;
     border-radius: 30px;
 }
 
 .image div {
     margin-top: 30px;
 }
 
 .image ul {
     padding: 1rem;
     list-style: none;
     text-align: center;
 }
 
 .image ul li {
     display: inline-block;
     margin-right: 1rem;
     width: 15px;
     height: 15px;
     border: 1px solid #008978;
     border-radius: 50%;
 }
 
 .image div ul .first {
     background-color: #008978;
 }
 /*  Number*/
 
 .number {
     margin: 1rem 0;
     height: 350px;
     background-image: url(../images/pexels-pixabay-237241.jpg);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     position: relative;
 }
 
 .number .overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .7);
 }
 
 .number .container {
     width: 80%;
     margin: auto;
     overflow: auto;
     padding-top: 100px;
     text-align: center;
 }
 
 .number .container .item {
     float: left;
     width: 25%;
     color: #fff;
     line-height: 2;
     font-size: 1.5rem;
 }
 
 .item svg {
     fill: #44ffc7;
     font-size: 2rem;
 }
 /* Pricing section */
 
 .pricing-section {
     background-color: #f5f5f5;
     text-align: center;
 }
 
 .pricing-section h2 {
     padding: 2rem;
     font-size: 3rem;
     position: relative;
 }
 
 .pricing-section h2::before {
     content: " ";
     width: 100px;
     height: 5px;
     background-color: #017e6f;
     position: absolute;
     bottom: 10px;
     left: 47%;
 }
 
 .pricing-section h2 span {
     font-size: 2.7rem;
     color: #008978;
 }
 
 .pricing-container {
     width: 80%;
     margin: auto;
     overflow: auto;
     padding: 2rem 0;
 }
 
 .pricing-item {
     width: 30%;
     background-color: #f1f1f1;
     float: left;
     position: relative;
 }
 
 .pricing-container .one::after {
     content: " 1";
     overflow: hidden;
     font-size: 10rem;
     box-sizing: border-box;
     color: #fff;
     text-align: center;
     padding-top: 150px;
     font-family: 'Dela Gothic One', cursive;
     background-color: #019182;
     color: #f5eed7;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     transition: 2s;
     opacity: 1;
 }
 
 .pricing-container .two::after {
     content: " 2";
     overflow: hidden;
     font-size: 10rem;
     box-sizing: border-box;
     color: #fff;
     text-align: center;
     padding-top: 150px;
     font-family: 'Dela Gothic One', cursive;
     background-color: #019182;
     color: #f5eed7;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     transition: 2s;
     opacity: 1;
 }
 
 .pricing-container .three::after {
     content: " 3";
     overflow: hidden;
     font-size: 10rem;
     box-sizing: border-box;
     color: #fff;
     text-align: center;
     padding-top: 150px;
     font-family: 'Dela Gothic One', cursive;
     background-color: #019182;
     color: #f5eed7;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     transition: 2s;
     opacity: 1;
 }
 
 .pricing-item:hover::after {
     width: 0;
     opacity: 0.5;
 }
 
 .two {
     margin: 0 5%;
 }
 
 .pricing-item .text {
     margin: 2rem 0;
     font-size: 35px;
     color: #009688;
     font-weight: bold;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .pricing-item .main {
     /* background-color: aliceblue; */
     width: 150px;
     height: 150px;
     margin: auto;
     padding: 1rem;
     border-radius: 50%;
     border: 1px solid #008978;
     outline: 3px solid #008978;
     outline-offset: 10px;
 }
 
 .price {
     font-weight: 1000;
     padding-top: 30px;
     color: #333;
     font-size: 30px;
 }
 
 .time {
     color: #333;
     font-size: 30px;
     font-weight: 1000;
 }
 
 .details {
     color: #333;
     font-size: 1rem;
     font-weight: bold;
     margin-top: 40px;
     margin-left: 16px;
     line-height: 2;
     text-align: center;
 }
 
 .section {
     padding: 2rem 0;
     width: 100%;
     margin: auto;
 }
 
 .pricing-item button {
     font-size: 25px;
     color: #fff;
     border: none;
     background-color: rgba(0, 137, 120, 0.85);
     padding: 6px 12px;
     margin: 30px 0;
     border-radius: 4px;
 }
 
 .pricing-item button:active {
     font-size: 20px;
     font-weight: bolder;
     color: aliceblue;
     background-color: #008978;
     outline: 4px solid #008978;
     outline-offset: 5px;
 }
 /* Our Team */
 
 .team-section {
     background-color: #f5f5f5;
     padding-bottom: 3rem;
 }
 
 .container {
     width: 80%;
     margin: auto;
 }
 /* ----------------------team-content */
 
 .team-content {
     margin-top: 100px;
     width: 100%;
     overflow: auto;
 }
 
 .team-content h1 {
     text-align: center;
     font-size: 3rem;
     padding-top: 2rem;
 }
 
 .newline {
     margin: 10px auto;
     width: 100px;
     height: 5px;
     background-color: #008978;
 }
 
 .item2 {
     margin: 0 5%;
 }
 
 .team-item {
     margin-top: 30px;
     padding: 12px 16px;
     width: 30%;
     float: left;
     text-align: center;
     position: relative;
     background-color: #fff;
     border: 2px solid #c6c6c6;
 }
 
 .team-item::after {
     position: absolute;
     content: "";
     width: 100%;
     height: 0;
     background-color: #017e6f;
     top: 0;
     right: 0;
     opacity: 0;
     transition: 2s;
 }
 
 .team-item:hover::after {
     width: 100%;
     height: 100%;
     opacity: 0.5;
 }
 
 .team-item::before {
     position: absolute;
     content: "";
     width: 100%;
     height: 0;
     background-color: #017e6f;
     bottom: 0;
     right: 0;
     opacity: 0;
     transition: 2s;
 }
 
 .team-item:hover::before {
     width: 100%;
     height: 100%;
     opacity: 0.5;
 }
 
 .team-img {
     width: 90%;
     height: auto;
     margin: auto;
     position: relative;
 }
 
 .team-img img {
     width: 100%;
 }
 
 .team-overlay {
     position: absolute;
     top: 0;
     background-color: rgba(0, 0, 0, .3);
     width: 100%;
     height: 100%;
     visibility: hidden;
 }
 
 .team-item:hover .team-overlay {
     visibility: visible;
 }
 
 .team-overlay a {
     display: block;
     color: white;
     font-size: 23px;
     width: 40px;
     height: 40px;
     background-color: rgba(0, 137, 120, 0.5);
     margin-left: auto;
 }
 
 .team-overlay a i {
     line-height: 40px;
 }
 
 .team-info {
     line-height: 3;
 }
 
 .team-info h2 {
     font-size: 2rem;
 }
 /* contact section */
 
 .contact-section .contact-container {
     width: 90%;
     margin: 2rem auto;
     overflow: auto;
 }
 
 .left-side {
     float: left;
     width: 50%;
 }
 
 .left-side .message {
     width: 90%;
     margin: auto;
     background-color: #009688;
     padding: 24px 0;
     text-align: center;
 }
 
 .left-side .message h5 {
     color: #fff;
     font-size: 22px;
 }
 
 .left-side svg {
     font-size: 90px;
     padding: 1rem 0;
     fill: #fff;
 }
 
 .left-side .message p {
     width: 70%;
     line-height: 1.8;
     color: #fff;
     font-size: 14px;
     margin: 1rem auto;
 }
 
 .left-side .location {
     width: 90%;
     margin: 1rem auto;
 }
 
 .left-side .location ul {
     list-style-type: none;
 }
 
 .left-side .location ul li h4 {
     padding: 10px 20px;
     margin: 1rem 0;
     font-size: 2rem;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 .left-side .location ul li {
     border: 1px solid #afacac;
     padding: 12px 1rem;
 }
 
 .right-side {
     float: right;
     width: 50%;
     border-radius: 5px;
 }
 
 .right-side .content {
     float: right;
     margin-right: 20%;
     background-color: #f1f1f1;
     padding: 24px;
     width: 70%;
 }
 
 .right-side .content h3 {
     font-size: 1.7rem;
     padding: 30px;
 }
 
 .right-side .content .input-field label {
     display: block;
     padding: 0.6rem;
     font-size: 12px;
     color: #7d7a7a;
 }
 
 .right-side .content .input-field input {
     display: block;
     padding: 0.6rem;
     height: 42px;
     margin-bottom: 10px;
     font-size: 1.2rem;
     width: 80%;
     border: none;
     background-color: transparent;
     border-bottom: 2px solid #cbc7c7;
 }
 
 .right-side input[type="submit"] {
     color: white;
     background-color: #017e6f;
     border: none;
     font-size: 1rem;
     padding: 0 28px;
     line-height: 3;
     border-radius: 15px;
 }